/**
 * @name         DarkUniverse
 * @description  Into the Dark Hole in the Universe.
 * @author       JJ-Universe
 * @version      1.0
 * @source       https://github.com/JJ-Universe/themes/DarkUniverse/DarkUniverse.theme.css
 * @invite       vpn5dEzDXT
 * @authorId     414298472087420941
 */
